<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header">
    <title>Employee</title>
</head>

<body>
    <nav th:replace="layouts::navbar"/>

    <div class="container">
        <form action="/employees/save" method="post" th:object="${employee}">

            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text"
                       th:field="${employee.firstName}" placeholder="First Name"
                       class="form-control" id="firstName">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text"
                       th:field="${employee.lastName}" placeholder="Last Name"
                       class="form-control" id="lastName">
            </div>

            <div class="form-group">
                <label for="email1">Email Address</label>
                <input type="email"
                       th:field="${employee.email}" placeholder="email"
                       class="form-control" id="email1">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
</body>
</html>